<!-- About Section -->
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Publications</h2>
                      <p class="text-muted"><a href=https://www.youtube.com/watch?v=pedKxrbdwR4>Reconsidering the consent form: the least user-friendly aspect of UX research.</a> Government UX Summit, June 2023</p>
                      <p class="text-muted"><a href=https://blog-nrrd.doi.gov/onrr-user-types/>Revisiting who uses ONRR.gov: refining personas.</a> Open data design at the U.S. Department of the Interior, January 2023</p>
                      <p class="text-muted"><a href=https://blog-nrrd.doi.gov/metrics/>Measuring and Justifying the Government Experience.</a> Open data design at the U.S. Department of the Interior, August 2022</p>
                      <p class="text-muted"><a href=https://blog-nrrd.doi.gov/passing-baton/>Passing the baton: what I’ve learned in my first 4 years of federal service.</a> Open data design at the U.S. Department of the Interior, July 2022</p>
                      <p class="text-muted"><a href=https://blog-nrrd.doi.gov/agile/>What agile looks like at the Office of Natural Resources Revenue.</a> Open data design at the U.S. Department of the Interior, July 2022</p>
                      <p class="text-muted"><a href=https://blog-nrrd.doi.gov/cx/>What is Customer Experience?.</a> Open data design at the U.S. Department of the Interior, June 2022</p>
                      <p class="text-muted"><a href=https://blog-nrrd.doi.gov/troubleshooting/>I’m just going to call my old friend Cody: why we created a troubleshooting guide.</a> Open data design at the U.S. Department of the Interior, April 2022</p>
                      <p class="text-muted"><a href=https://blog-nrrd.doi.gov/beyond-auto/>Ensuring accessible content beyond the auto checks: making a diagram screen reader friendly.</a> Open data design at the U.S. Department of the Interior, March 2022</p>
                      <p class="text-muted"><a href=https://digital.gov/2022/01/06/open-source-information-architecture-design-using-the-tools-you-have-to-conduct-card-sorting-and-tree-testing/>Open-source Information Architecture Design: Using the Tools You Have To Conduct Card Sorting and Tree Testing.</a> Digital.gov, January 2022</p>
                      <p class="text-muted"><a href=https://blog-nrrd.doi.gov/accessibility/>Document accessibility: getting from 5,000 to 0.</a> Open data design at the U.S. Department of the Interior, September 2021</p>
                      <p class="text-muted"><a href=https://uxpamagazine.org/so-you-want-to-get-into-civic-tech-book-review/>So You Want to Get into Civic Tech? (Book Review).</a> User Experience Magazine, June 2021</p>
                      <p class="text-muted"><a href=https://blog-nrrd.doi.gov/stakeholders/>Getting stakeholder buy-in.</a> Open data design at the U.S. Department of the Interior, May 2021</p>
                      <p class="text-muted"><a href=https://blog-nrrd.doi.gov/treetest/>Tree testing using a clickable prototype.</a> Open data design at the U.S. Department of the Interior, December 2020</p>
                      <p class="text-muted"><a href=https://static.sched.com/hosted_files/uxpabostonconference2020/27/BringingUXInHouse.pdf>Bringing UX in-house: Cultivating digital skills through peer training (presentation).</a> Boston UXPA Conference, October 2020</p>
                      <p class="text-muted"><a href=https://blog-nrrd.doi.gov/card-sort/>Open source card sorting.</a> Open data design at the U.S. Department of the Interior, August 2020</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/shaping/>Re-evaluating how we work: Bringing the whole team along.</a> Open data design at the U.S. Department of the Interior, June 2020</p>
                      <p class="text-muted"><a href=https://www.youtube.com/watch?v=hNiUL1faRps&feature=youtu.be>Slowing down agile to government speed: Bringing the whole team along.</a> Code for America Summit presentation, April 2020</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/remote-design-studio/>Remote work: What about design studios?</a> Open data design at the U.S. Department of the Interior, March 2020</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/tool-agnostic/>On being tool agnostic: Picking a design toolkit based on goals, constraints, and access.</a> Open data design at the U.S. Department of the Interior, Feburary 2020</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/product-champion/>How to effectively champion a government product.</a> Open data design at the U.S. Department of the Interior,  November 2019</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/open-data-useful/>Making open data useful.</a> Open data design at the U.S. Department of the Interior, June 2019</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/journey-mapping/>Journey maps as communication tools.</a> Open data design at the U.S. Department of the Interior, May 2019</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/usability-testing-training/>Teaching digital skills: learning usability testing by peer training.</a> Open data design at the U.S. Department of the Interior,  February 2019</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/homepage-revamp/>How we rebuilt our open-data homepage part one: design.</a> Open data design at the U.S. Department of the Interior, December 2018</p>
                      <p class="text-muted"><a href=https://www.uxmatters.com/mt/archives/2018/04/fostering-trust-to-build-community.php>Fostering Trust to Build Community.</a> UX Matters, April 2018</p>
                      <p class="text-muted"><a href=http://uxpamagazine.org/remote-friendly-user-experience/>Remote Friendly User Experience: How to Keep and Hire Top Talent.</a> User Experience Magazine, 17(1). February 2017</p>
                      <p class="text-muted"><a href=http://uxpamagazine.org/engaging-citizens/>Engaging Citizens: A Review of Eight Approaches to Civic Engagement.</a> User Experience Magazine, 15(5).  November 2015</p>
                      <p class="text-muted"><a href=http://uxpamagazine.org/visualizing-tax-returns/>Visualizing Tax Returns: Showing the Impact in Design.</a> User Experience Magazine, 15(3).  July 2015</p>
                      <p class="text-muted"><a href=http://www.uxmatters.com/mt/archives/2015/05/if-congress-went-agile.php>If Congress Went Agile.</a> UX Matters.  May 2015</p>
                      <h2>Presentations</h2>
                     <ul>
                     <li>Reconsidering the consent form: the least user-friendly aspect of UX research, Government UX Summit (Jun 2023)
                     <li>From 5,000 to 0: prioritizing documents for remediation, Interagency Accessibility Forum (Oct 2021)
                     <li>Open Source Information Architecture Design: Using the Tools You Have to Conduct Card Sorting and Tree Testing, Government UX Summit (Jun 2021)
                     <li>Card Sorting with GitHub (poster), Information Architecture Conference (Apr 2021)
                     <li>Bringing UX in-house: Cultivating digital skills through peer training, Boston UXPA (Oct 2020)
                     <li>Slowing down agile to government speed: Bringing the whole team along, Code for America Summit (Apr 2020)
                     <li>Civic Tech Chat: Maine Ballot (podcast), Civic Tech Chat (Jul 2019)
                     <li>Lessons from Building Remote-First, Cross-Functional Teams (panelist), Government UX Summit (May 2019)
                     <li>Teaching Digital Skills: Learning Usability Testing by Peer Training, Government UX Summit (May 2019)
                     <li>Lightning Debates on Controversial UX Topics, Boston UXPA conference (May 2015)
                     <li>Dueling Prototyping Tools: Axure vs. Microsoft Expression Blend, Tech Maine meeting (Apr 2010)
                     <li>Design Negotiation, Boston UXPA conference. (May 2009)
                     <li>The Pros and Cons of Presenting Multiple Options of a Design, New Hampshire UXPA meeting (Mar 2008)
                     <li>Cooper’s Approach to Personas, Tech Maine meeting (Feb 2008)
                     <li>Using Support Data to Drive Design, Boston UXPA chapter meeting (Oct 2005)
                     </ul>


                </div>
            </div>

        </div>
    </section>
