<!-- About Section -->
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">Publications</h2>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/shaping/>Re-evaluating how we work: Bringing the whole team along.</a> Open data design at the U.S. Department of the Interior, June 2020</p>
                      <p class="text-muted"><a href=https://www.youtube.com/watch?v=hNiUL1faRps&feature=youtu.be>Slowing down agile to government speed: Bringing the whole team along.</a> Code for America Summit presentation, April 2020</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/remote-design-studio/>Remote work: What about design studios?</a> Open data design at the U.S. Department of the Interior, March 2020</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/tool-agnostic/>On being tool agnostic: Picking a design toolkit based on goals, constraints, and access.</a> Open data design at the U.S. Department of the Interior, Feburary 2020</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/product-champion/>How to effectively champion a government product.</a> Open data design at the U.S. Department of the Interior,  November 2019</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/open-data-useful/>Making open data useful.</a> Open data design at the U.S. Department of the Interior, June 2019</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/journey-mapping/>Journey maps as communication tools.</a> Open data design at the U.S. Department of the Interior, May 2019</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/usability-testing-training/>Teaching digital skills: learning usability testing by peer training.</a> Open data design at the U.S. Department of the Interior,  February 2019</p>
                      <p class="text-muted"><a href=https://revenuedata.doi.gov/blog/homepage-revamp/>How we rebuilt our open-data homepage part one: design.</a> Open data design at the U.S. Department of the Interior, December 2018</p>
                      <p class="text-muted"><a href=https://www.uxmatters.com/mt/archives/2018/04/fostering-trust-to-build-community.php>Fostering Trust to Build Community.</a> UX Matters, April 2018</p>
                      <p class="text-muted"><a href=https://superyesmore.com/6c196af7ac247c406f6d83cbad55512a>Recipe for Productivity: A Haiku.</a> Human in the Machine, August 2017</p>
                      <p class="text-muted"><a href=http://uxpamagazine.org/remote-friendly-user-experience/>Remote Friendly User Experience: How to Keep and Hire Top Talent.</a> User Experience Magazine, 17(1). February 2017</p>
                      <p class="text-muted"><a href=http://uxpamagazine.org/engaging-citizens/>Engaging Citizens: A Review of Eight Approaches to Civic Engagement.</a> User Experience Magazine, 15(5).  November 2015</p>
                      <p class="text-muted"><a href=http://uxpamagazine.org/visualizing-tax-returns/>Visualizing Tax Returns: Showing the Impact in Design.</a> User Experience Magazine, 15(3).  July 2015</p>
                      <p class="text-muted"><a href=http://www.uxmatters.com/mt/archives/2015/05/if-congress-went-agile.php>If Congress Went Agile.</a> UX Matters.  May 2015</p>
                </div>
            </div>

        </div>
    </section>
