<!-- About Section -->
    <section id="publications">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                      <h3><a href=https://revenuedata.doi.gov/blog/open-data-useful/>Making open data useful</a></h3>
                      <p class="text-muted">Open data design at the U.S. Department of the Interior, June 2019</p>
                      <h3><a href=https://revenuedata.doi.gov/blog/journey-mapping/>Journey maps as communication tools</a></h3>
                      <p class="text-muted">Open data design at the U.S. Department of the Interior, May 2019</p>
                      <h3><a href=https://revenuedata.doi.gov/blog/usability-testing-training/>Teaching digital skills: learning usability testing by peer training</a></h3>
                      <p class="text-muted">Open data design at the U.S. Department of the Interior,  February 2019</p>
                      <h3><a href=https://revenuedata.doi.gov/blog/homepage-revamp/>How we rebuilt our open-data homepage part one: design</a></h3>
                      <p class="text-muted">Open data design at the U.S. Department of the Interior, December 2018</p>
                      <h3><a href=https://www.uxmatters.com/mt/archives/2018/04/fostering-trust-to-build-community.php>Fostering Trust to Build Community</a></h3>
                      <p class="text-muted">UX Matters, April 2018</p>
                      <h3><a href=https://superyesmore.com/6c196af7ac247c406f6d83cbad55512a>Recipe for Productivity: A Haiku</a></h3>
                      <p class="text-muted">Human in the Machine, August 2017</p>
                      <h3><a href=http://uxpamagazine.org/remote-friendly-user-experience/>Remote Friendly User Experience: How to Keep and Hire Top Talent</a></h3>
                      <p class="text-muted">User Experience Magazine, 17(1). February 2017</p>
                      <h3><a href=http://uxpamagazine.org/engaging-citizens/>Engaging Citizens: A Review of Eight Approaches to Civic Engagement</a></h3>
                      <p class="text-muted">User Experience Magazine, 15(5).  November 2015</p>
                      <h3><a href=http://uxpamagazine.org/visualizing-tax-returns/>Visualizing Tax Returns: Showing the Impact in Design</a></h3>
                      <p class="text-muted">User Experience Magazine, 15(3).  July 2015</p>
                      <h3><a href=http://www.uxmatters.com/mt/archives/2015/05/if-congress-went-agile.php>If Congress Went Agile</a></h3>
                      <p class="text-muted">UX Matters.  May 2015</p>
                </div>
            </div>
            
        </div>
    </section>
