<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2 class="section-heading">Services</h2>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-1">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-md-3">
                    <h3 class="service-heading">Research & Analysis</h3>
                      <ul class="text-muted">
                        <li>Usability Testing
                        <li>User & Stakeholder Interviews
                        <li>Card Sorting & Tree Testing
                        <li>Field Studies
                        <li>Personas
                        <li>Content Analysis
                        <li>Accessibility</li>
                        <li>Analytics Analysis</li>
                      </ul>
                </div>
                <div class="col-md-1">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-md-3">
                    <h3 class="service-heading">Design</h3>
                    <ul class="text-muted">
                      <li>User Experience Strategy
                      <li>Conceptual Design
                      <li>Detailed Interaction Design
                      <li>Service Design
                      <li>Information Architecture
                      <li>Visual Design</li>
                      <li>Design Systems</li>
                      <li>Plain Language, Content Simplification, and UX Writing</li>
                      <li>Figma and Axure Prototyping
                      <li>Storyboarding and Journey Mapping
                    </ul>
                </div>
                <div class="col-md-1">
                    <span class="fa-stack fa-3x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="col-md-3">
                    <h3 class="service-heading">Leadership</h3>
                    <ul class="text-muted">
                      <li>Product Management
                      <li>Product Visioning
                      <li>Organization Vision Statements
                      <li>Roadmapping
                      <li>Contract Staff Management
                      <li>Agile Team Leadership and Scrum Mastering
                      <li>Project Management
                      <li>Mentoring</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
