<!-- Team Section -->
<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading">Experience</h2>
            </div>
        </div>
        <div class="row text-left">
            <div class="col-md-3">
                <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
            </div>
            <div class="col-md-9">
                <h3 class="service-heading">Shannon McHarg, Principal</h3>
                <br>
                <p class="text-muted">
                    I thrive on solving complex design problems from strategic vision down to the tactical details and have 16 years of experience and a master's degree in Human Factors in Information Design from Bentley University. I'm always looking for ways my design skills can have an impact on the world and am currently looking for projects in the sustainability or civic spaces.
                    <br><br>
                    I'm located in Brunswick, Maine and do most of my work remotely, but I'm willing to travel for meetings and to conduct user research.
                </p>
                <br>
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="mailto:shannon@efficientinteraction.com">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://linkedin.com/in/smcharg">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/EfficientIxD">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                  </ul>
            </div>
        </div>
        <br>
        <br>
        <div class="row text-left">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
              <h4>Industries</h4>
              <ul>
                <li>Tax Preparation & Finance
                <li>Education & eLearning
                <li>Healthcare
                <li>Retail & E-Commerce
                <li>Insurance
                <li>Business to Business Services
                <li>Shipping & Logistics
                <li>Nonprofits & Government Websites
                <li>Open Data
                <li>Sports & Fitness
                <li>Travel
                <li>Online Auctions
                <li>Job Search
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Major Clients</h4>
              <ul>
                <li>U.S. Department of the Interior: Office of Natural Resources Revenue
                <li>H&R Block
                <li>L.L.Bean
                <li>Cengage Learning
                <li>Massachusetts Institute of Technology (MIT)
                <li>Quick Base
                <li>Zumba Fitness
              </ul>
            </div>
            <div class="col-md-3">
              <h4>Platforms</h4>
              <ul>
                <li>Web Applications
                <li>Responsive Websites
                <li>Mobile Apps (iPhone, Android, iPad)
                <li>Desktop Software
                <li>Responsive Emails
                <li>Omnichannel Services
                <li>Internet of Things
              </ul>
            </div>
        </div>
    </div>

    </section>
